<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.chapter6.dao.UserDao">
	<select id="getUser" parameterType="long" resultType="user">
		select id, user_name as userName, note from t_user6 where id = #{id}
	</select>
	
	<insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
		insert into t_user6(user_name, note) value (#{userName}, #{note})
	</insert>
</mapper>